footer {
  background-color: var(--color-primary-2);
}

#footer_items {
  max-width: 100em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 8% 2rem 8%;
  align-items: center;
  margin: 0 auto;
}

#copyright {
  color: var(--color-neutral-2);
  font-weight: 500;
}

@media screen and (max-width: 31.25em) {
  #footer_items {
    flex-direction: column;
    gap: 1.25rem;
  }
}